/*-----------------------------------------------------------------------------------
  Global Reset v0.3 (based on http://meyerweb.com/eric/tools/css/reset/ - v1.0 | 20080212)
-----------------------------------------------------------------------------------*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
body { line-height: 1; }
ol, ul { list-style: none; }
:focus { outline: 0; }
table { border-collapse: collapse; border-spacing: 0; }
/* HTML5 */
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }
  
  
/* Element */
* { padding: 0; margin: 0; box-sizing: border-box; }
html, body { height: 100%; width: 100%; }
body { background-color: #e7e7e7; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 10px; padding: 20px; }
h1 { color: red; font-size: 96px; }
h2 { color: black; font-size: 50px; }


/* Card */  
.card { background-color: #fff; -moz-border-radius: 10px; -webkit-border-radius: 10px; -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); float: left; height: 280px; margin: 0 15px 15px 0; position: relative; width: 200px; z-index: 2; }
.card .back { background-color: red; -webkit-transform: rotateY(180deg); }
.card.flipped { -webkit-transform: rotateY(180deg); }
.card.heart, .card.diamond { color: red; }

.card .corner { line-height: 1; overflow: hidden; position: absolute; text-align: center; }
.card .corner span { display: block; font-size: 24px; font-weight: bold; }
.card .corner .number { font-size: 32px; height: 32px; line-height: 32px; }
.card.ten .corner .number { font-size: 24px;  }
.card .corner.top { left: 8px; top: 12px; }
.card .corner.bottom { bottom: 12px; right: 8px; -moz-transform: rotate(180deg); -webkit-transform: rotate(180deg); }

.card .suit { font-size: 64px; font-weight: bold; height: 60px; line-height: 60px; overflow: hidden; position: absolute; text-align: center; width: 50px; }
.card .top_center { left: 76px; top: 24px; }
.card .top_left { left: 30px; top: 24px; }
.card .top_right { right: 30px; top: 24px; }

.card .middle_center { left: 76px; top: 110px; }
.card .middle_top { left: 76px; top: 70px; }
.card .middle_bottom { bottom: 70px; left: 76px; -moz-transform: rotate(180deg); -webkit-transform: rotate(180deg); }
.card .middle_left { left: 30px; top: 110px; }
.card .middle_right { right: 30px; top: 110px; }
.card .middle_top_center { left: 76px; top: 60px; }
.card .middle_top_left { left: 30px; top: 80px; }
.card .middle_top_right { right: 30px; top: 80px; }
.card .middle_bottom_left { bottom: 80px; left: 30px; -moz-transform: rotate(180deg); -webkit-transform: rotate(180deg); }
.card .middle_bottom_right { bottom: 80px; right: 30px; -moz-transform: rotate(180deg); -webkit-transform: rotate(180deg); }
.card .middle_bottom_center { bottom: 60px; left: 76px; -moz-transform: rotate(180deg); -webkit-transform: rotate(180deg); }

.card .bottom_center { bottom: 24px; left: 76px; -moz-transform: rotate(180deg); -webkit-transform: rotate(180deg); }
.card .bottom_left { bottom: 24px; left: 30px; -moz-transform: rotate(180deg); -webkit-transform: rotate(180deg); }
.card .bottom_right { bottom: 24px; right: 30px; -moz-transform: rotate(180deg); -webkit-transform: rotate(180deg); }

/* Skipbo cards */
/* Credit to https://timvervoort.com for Skipbo card styles */

.sbcard {
	position: relative;
	width: 100%;
	height: 100%;
	/* width: 180px;
	height: 270px; */
	background-color: #fff;
	border-radius: 10px;
	font-size: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	border: 10px solid #fff;         
}
.sbcard::after, .sbcard::before {
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	content: ' ';
}
.sbcard::after {
	top: 0;
	right: 0;
	border-width: 0 2cm 3cm 0;
}
.sbcard::before {
	bottom: 0;
	left: 0;
	border-width: 3cm 0 0 2cm;               
}
.c1, .c2, .c3, .c4 {
	color: #2C2D7F;
}
.c1::after, .c2::after, .c3::after, .c4::after {
	border-color: transparent #2C2D7F transparent transparent;
}
.c1::before, .c2::before, .c3::before, .c4::before {
	border-color: transparent transparent transparent #2C2D7F;
}
.c5, .c6, .c7, .c8 {
	color: #8ECF4F;
}
.c5::after, .c6::after, .c7::after, .c8::after {
	border-color: transparent #8ECF4F transparent transparent;
}
.c5::before, .c6::before, .c7::before, .c8::before {
	border-color: transparent transparent transparent #8ECF4F;
}
.c9, .c10, .c11, .c12 {
	color: #D00169;
}
.c9::after, .c10::after, .c11::after, .c12::after {
	border-color: transparent #D00169 transparent transparent;
}
.c9::before, .c10::before, .c11::before, .c12::before {
	border-color: transparent transparent transparent #D00169;
}
.c13, .c14, .c15, .c16 {
	color: #01d0c9;
}
.c13::after, .c14::after, .c15::after, .c16::after {
	border-color: transparent #01d0c9 transparent transparent;
}
.c13::before, .c14::before, .c15::before, .c16::before {
	border-color: transparent transparent transparent #01d0c9;
}
.c17, .c18, .c19, .c20 {
	color: #e8e11a;
}
.c17::after, .c18::after, .c19::after, .c20::after {
	border-color: transparent #e8e11a transparent transparent;
}
.c17::before, .c18::before, .c19::before, .c20::before {
	border-color: transparent transparent transparent #e8e11a;
}
.c11, .c12, .c13, .c14, .c15, .c16, .c17, .c18, .c19 {
	letter-spacing: -10px;
}

	
/* Page layout */

.container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
}

.eggbox img {
	width: 300px;
}

.cards, .buttons {
	display: flex;
	position: relative;
}

.cards { 
	margin-right: -7px;
	transform: scale(0.9);
}

.cards .card {
	position: relative;
}

.card.changeable::before {
	content: "Klik op de pijltjes om de kaart juist te maken";
    position: absolute;
    top: -75px;
    right: 10px;
    width: 150px;
    font-size: 12px;
    background: #4480d4;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
    opacity: 0.7;
}

.arrow {
	width: 0;
	height: 0;
	position: absolute;
	cursor: pointer;
}

.arrow.previous {
	right: 95px;
	bottom: -20px;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #4480d4;
}

.arrow.next {
	right: 93px;
	top: -32px;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 20px solid #4480d4;
}

.button {
	width: 120px;
	height: 50px;
	text-align: center;
	font-size: 20px;
	background: white;
	line-height: 50px;
	text-decoration: none;
	color: white;
	margin: 0 30px;
	cursor: pointer;
	border: none;
	box-shadow: none;
}

.button:hover {
	filter: brightness(1.2);
}

.button.yes {
	background-color: #238823;
}

.button.no {
	background-color: #d2222d;
}

.button.sum10 {
	background-color: #4480d4;
}

/* Popup */

.popup-container.hidden {
	display: none;
}

.popup-container {
	position: fixed;
	background: rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(7px);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	z-index: 100;
}

.popup {
	min-width: 380px;
    padding: 0 20px;
	height: 200px;
	background: #4480d4;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.popup.wrong {
	background-color: #d2222d;
}

.popup.right {
	background-color: #238823;
}

.emoji-container {
	width: 80px;
}

.emoji {
	display: none;
	margin-top: -20px;
}

.popup.wrong .emoji-sad, .popup.right .emoji-happy {
	display: block;
}

.feedback-title h3 {
	font-size: 48px;
	text-align: center;
	display: none;
}

.feedback-message {
	margin-top: 20px;
    font-size: 16px;
}

.popup.wrong .negative-feedback, .popup.right .positive-feedback {
	display: inline;
}

@media screen and (max-width: 630px) {
	h1 { font-size: 50px; }
	h2 { font-size: 26px; }
	.cards { transform: scale(0.8); }
}